.myPhoto {
    height: 15rem;
    border: 5px solid goldenrod;
    box-shadow: 5rem;
    display: block;
    margin: 60px auto;
    float: left;
}

.about {
    flex-direction: row;
    align-items: flex-start;

    h3 {
        margin: 0px;
    }
}
