@import '../styles/images.scss';

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    // div {
    //     flex-basis: calc(33.33333%-40px);
    // }
}

.MuiCard-root {
    width: 15rem;
    box-shadow: 'none';
    &:hover {
        box-shadow: 0 6px 12px 0 rgb(155, 155, 155);
        transform: scale(1.1);
        transition: .35s;
    };

    margin: 10px;
}

.MuiCardMedia-img {
    height: 140px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: 0px;
    overflow: hidden;
}
